<% if current_user.has_role?(:educator) %>
<% # page that is rendered if the user is an educator%>
<p>This page will only be acceible to educators and will provide analytics to teachers.
From here they can see the activity of the students, the most difficult cards, and endorse cards. </p>
<% else %>
<%# page that is rendered if the user is not an educator%>
<h2>Become an educator<h2>
<p>As an educator you can:</p>
<ul>
    <li>Endorse cards created by students</li>
    <li>Automatically endorse cards you create</li>
    <li>...more features coming soon...</li>
</ul>

<% end %>
