<% if current_user %>
    <% if current_user.has_role?(:educator) %>
    <% # page that is rendered if the user is an educator%>
    <h2>Hello, you are an educator</h2>
    <p>You have permissions to endorse cards, and edit student created cards. </p>
    <% else %>
    <%# page that is rendered if the user is not an educator%>
    <h2>Become an educator<h2>
    <p>As an educator you can:</p>
    <ul>
        <li>Endorse cards created by students</li>
        <li>Automatically endorse cards you create</li>
        <li>...more features coming soon...</li>
    </ul>
    <p>Edit your profile to become an educator</p>

    <% end %>
<% end %>