<% if user_signed_in? %>
    Show user's flash cards
<% else %>    
    <h1>Welcome to flash card app</h1>
    <ul>
        <li><%= link_to('Login', new_user_session_path) %></li>
        <li><%= link_to('Sign Up', new_user_registration_path) %></li>
        <li>Login as teacher</li>
    </ul>
    
<% end %>

<p> Showing all flash card questions </p>
<% @cards.each do |card| %>
    <div class='card'>
        <div class='container'>
            <p><%= card.question %></p>
            <br>
            <%= link_to 'see details', card_path(card.id) %>
        </div>
    </div>
<% end %>
