// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

li {
    padding: 10px;
    list-style: none;
    display: inline;
}

div.card {
    border-style: solid;
    border-width: 2px;
    display: inline;
    height: 500px;
    width: 500px;
    border-radius: 30%;
    // change background-color based on difficulty
    background-color: #77dd77;
    

}