body {
  background-color: #fff;
  color: #333;
  margin: 33px; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }

a {
  color: #000; }


a:hover {
  color: grey;
  // background-color: #000; 
}

th {
  padding-bottom: 5px; }

td {
  padding: 0 5px 7px; }

div.field,
div.actions {
  margin-bottom: 10px; }

#notice {
  color: green; }

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; }

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0; }

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px -7px 0;
  background-color: #c00;
  color: #fff; }

#error_explanation ul li {
  font-size: 12px;
  list-style: square; }

label {
  display: block; }

aside {
  border-style: solid;
  h2 {
    text-align: center;
  }
  ul { 
    padding: 0;
    li {
      display: block;
    }
  } 
}

#main {
  display: flex;
  flex-direction: row;
}

#content {
  padding: 10px;
}

section.cards-list {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  padding: 5px;
  .card {
    min-height: 100px;
    max-width: 50%;
    min-width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 15px #888888;
    display: inline;
    padding: 5px;
    margin: 5px;
    .container {
      justify-content: center;
      a {
        text-align: center;
        padding: 2px 16px;
        display: inline; 
      }
      i {
        // color: green;
      }
      img {
        border-radius: 20%;
      }
    }
  }
}

.new-card {
  min-height: 100px;
  align-items: center;
  justify-content: center;
  box-shadow: 5px 5px 15px #888888;
  padding: 5px;
  margin: 5px;
  width: 80%;
  textarea {
    padding: 2px;
    width: 95%;
    min-height: 40px;
  }
}

#main {
  display: flex;
  section {
    flex-grow: 90;
  }
}