<aside id='user-details'>
    <% if user_signed_in? %>
        <%= image_tag(current_user.profile_picture, height: '100', width: '100') if current_user.profile_picture.attached? %>
        <h2><%= current_user.name %></h2>
        <ul>
            <li><%= link_to('Edit profile', edit_user_path(current_user))%>
            <li><%= link_to('Logout', destroy_user_session_path) %></li>
        </ul>
    <% end %>
</aside>